In [13]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
df = pd.read_excel('B0504a_copy.xls', skiprows=4)
df.head()

     初婚年龄    合    计    1980年   2010年
0     NaN        合计       小计      小计
1    总  计  57826544  2217467  911403
2  20-24岁  33960035  1235095  477887
3  25-29岁  13125626   615778  272631
4  30-34岁   2328493    75129   61864