In [6]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
df = pd.read_excel('B0504a_copy.xls', skiprows=3)
df.head()

,Unnamed: 0,初婚年份,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96
0,初婚年龄,合 计,NaN,NaN,1980年,NaN,NaN,1981年,NaN,NaN,...,NaN,2008年,NaN,NaN,2009年,NaN,NaN,2010年,NaN,NaN
1,NaN,合计,男,女,小计,男,女,小计,男,女,...,女,小计,男,女,小计,男,女,小计,男,女
2,总 计,57826544,28584834,29241710,2217467,1093308,1124159,1561063,763998,797065,...,837776,1965500,953561,1011939,1823350,882901,940449,911403,445885,465518
3,15岁以下,60519,18184,42335,5007,1623,3384,2571,802,1769,...,332,414,60,354,321,51,270,110,12,98
4,15-19岁,7437383,2124730,5312653,263810,65311,198499,220385,56173,164212,...,124866,194601,50530,144071,168561,44522,124039,68582,18159,50423