In [18]:
import pandas as pd
%matplotlib inline

Data from https://www.fhfa.gov/DataTools/Downloads/pages/house-price-index.aspx

In [51]:
# Read in data
df = pd.read_excel("HPI_PO_monthly_nsa.xls", skiprows=24, skip_footer=1)
df.rename(columns={'Unnamed: 0': 'month'}, inplace=True)
df.drop(0, inplace=True)
df.head()

,month,U.S.,Pacific,Mountain,West North Central,West South Central,East North Central,East South Central,New England,Middle Atlantic,South Atlantic
1,2017-07-01,255.5,292.3,334.3,253.7,270.4,213.1,235.5,246.0,231.2,258.2
2,2017-06-01,255.0,293.0,332.8,254.7,269.8,212.4,233.8,244.5,230.1,257.5
3,2017-05-01,253.6,291.6,330.5,252.6,271.9,210.4,230.6,242.7,227.9,256.4
4,2017-04-01,250.5,286.9,327.4,248.9,267.1,207.4,229.2,240.2,225.4,254.9
5,2017-03-01,247.1,283.4,321.7,246.1,262.6,205.5,228.5,236.1,222.1,250.3

In [55]:
# Mess with the date column a little
df.month = df.month.dt.strftime("%B-%y")

In [60]:
# Reshape to long format
long = df.melt(id_vars=['month'], var_name='region', value_name='price')
long.head()

      month region  price
0   July-17   U.S.  255.5
1   June-17   U.S.  255.0
2    May-17   U.S.  253.6
3  April-17   U.S.  250.5
4  March-17   U.S.  247.1

In [61]:
long.to_csv("housing-prices.csv", index=False)

In [62]:
!head housing-prices.csv

month,region,price
July-17,U.S.,255.5
June-17,U.S.,255.0
May-17,U.S.,253.6
April-17,U.S.,250.5
March-17,U.S.,247.1
February-17,U.S.,242.9
January-17,U.S.,240.2
December-16,U.S.,241.5
November-16,U.S.,241.9