Data from

* http://www.humanfertility.org/cgi-bin/country.php?country=JPN&tab=asfr
* http://www.humanfertility.org/cgi-bin/country.php?country=USA&tab=asfr
    
It's "All birth orders combined" x "Age specific fertility rates"

In [52]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [65]:
us_df = pd.read_fwf("USAasfrRR.txt", skiprows=2, dtype={'ASFR': 'str'}).replace("12-", "12").replace("55+","55")
us_df.rename(columns={'ASFR': 'ASFR_us'}, inplace=True)
us_df.head()

   Year Age  ASFR_us
0  1933  12  0.00004
1  1933  13  0.00044
2  1933  14  0.00177
3  1933  15  0.00672
4  1933  16  0.01875

In [66]:
jp_df = pd.read_fwf("JPNasfrRR.txt", skiprows=2, dtype={'ASFR': 'str'}).replace("12-", "12").replace("55+","55")
jp_df.rename(columns={'ASFR': 'ASFR_jp'}, inplace=True)
jp_df.head()

   Year Age  ASFR_jp
0  1947  12  0.00000
1  1947  13  0.00000
2  1947  14  0.00005
3  1947  15  0.00039
4  1947  16  0.00184

In [67]:
merged = jp_df.merge(us_df, on=['Year', 'Age']).dropna()
merged.head(10)

   Year Age  ASFR_jp  ASFR_us
0  1947  12  0.00000  0.00000
1  1947  13  0.00000  0.00026
2  1947  14  0.00005  0.00396
3  1947  15  0.00039  0.01150
4  1947  16  0.00184  0.03111
5  1947  17  0.00732  0.06562
6  1947  18  0.02168  0.10991
7  1947  19  0.04583  0.15668
8  1947  20  0.08737  0.18776
9  1947  21  0.13156  0.20254

In [69]:
merged.to_csv("fertility.csv", index=False)

In [70]:
!head -n 10 fertility.csv

Year,Age,ASFR_jp,ASFR_us
1947,12,0.00000,0.00000
1947,13,0.00000,0.00026
1947,14,0.00005,0.00396
1947,15,0.00039,0.01150
1947,16,0.00184,0.03111
1947,17,0.00732,0.06562
1947,18,0.02168,0.10991
1947,19,0.04583,0.15668
1947,20,0.08737,0.18776